{{define "content"}}
<section>
    <h1>MEET OUR TEAM</h1>

    <figure>
        <span class="teamate">sntentop</span>
        <figcaption>Project Manager</figcaption>
        <img src="/static/img/sntetop.jpg" alt="Project Manager">
    </figure>
    <figure>
        <span class="teamate">ttarara</span>
        <figcaption>Backend Developer</figcaption>
        <img src="/static/img/ttarara.jpg" alt="Backend" >
    </figure>
    <figure>
        <span class="teamate">xkissas</span>
        <figcaption>Front End Developer</figcaption>
        <img src="/static/img/xkissas.jpg" alt="Front End">
    </figure>
</section>
{{end}}