<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - not found</title>
    <link rel="stylesheet" href="/frontend/css/400.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/frontend/images/errorapple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontend/images/errorfavicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontend/images/erroravicon-16x16.png">
    <link rel="manifest" href="/frontend/images/errorsite.webmanifest">
  </head>
<body>
   <!-- Container for all content -->
   <div class="container">
      <div class="error-text">400 - Not Found</div>
      <div class="message">♪♫♪ That request was offbeat! </div>
      <div class="description">
        Try again with the right notes. ♪♫♪ 
      </div>
    </div>

      <!-- Back Button -->
      <a href="/" class="ok">Go Back</a>
      
</body>
</html>
