<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/web/css/pages/about.css">
   

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/web/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/images/favicon/avicon-16x16.png">
    <link rel="manifest" href="/web/images/favicon/site.webmanifest">
</head>
<body>

    <h1 class="glow">Meet the team</h1>

<!-- Developer Cards Container -->
<div class="developer-cards">
    <!-- Charoula Tarara Card -->
    <div class="developer-card">
        <div class="developer-card-inner">
            <div class="developer-card-front">
                <img src="/web/css/images/charoula.jpg" alt="Charoula Tarara">
            </div>
            <div class="developer-card-back">
                <h1>Charoula Tarara</h1>
                <p>Role: Full Stack Developer
                <br>Skills: Go, HTML, CSS, JavaScript, 
                <br>juggling bugs in her code and 
                <br>snack requests from her mini-me!</p>
            </div>
        </div>
    </div>

    <!-- Sofia Busho Card -->
    <div class="developer-card">
        <div class="developer-card-inner">
            <div class="developer-card-front">
                <img src="/web/css/images/sofia.jpg" alt="Sofia Busho">
            </div>
            <div class="developer-card-back">
                <h1>Sofia Busho</h1>
                <p>Role: Full Stack Developer
                <br>Skills: Go, HTML, CSS, JavaScript, 
                <br>debugging with her feline companions 
                <br>and occasional keyboard occupiers!</p>
            </div>
        </div>
    </div>
</div>

    <!-- Back Button -->
    <div class="home-button-container">
        <a href="/" class="btn">Home</a>
      </div>
      
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; <span id="year"></span> 🎶 Groupie Tracker - Stay Inspired 🎶</p>
    </footer>
    <script src="/web/js/shared.js"></script>
</body>
</html>
