<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - method not allowed</title>
    <link rel="stylesheet" href="/frontend/css/405.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/frontend/images/errorapple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontend/images/errorfavicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontend/images/erroravicon-16x16.png">
    <link rel="manifest" href="/frontend/images/errorsite.webmanifest">
</head>
<body>
    <!-- Container for all content -->
    <div class="container">
        <div class="error-text">405 - Method Not Allowed</div>
        <div class="message">♪♫♪ Sorry, Wrong Chords!</div>
        <div class="description">
            This action isn't in our setlist. ♪♫♪ 
        </div>
    </div>

      <!-- Back Button -->
      <a href="/" class="ok">Go Back</a>
      
</body>
</html>
