{{define "view"}}
{{$post := index .Data "post"}}
<div class="items-center w-full pt-[6rem] mt-2 h-auto flex justify-center">
    <h2 class="sr-only">Summary</h2>
    <div class="justify-center rounded-lg bg-gray-50 ring-1 shadow-xs w-4/5 ring-gray-900/5">
      <dl class="flex flex-wrap">
        <div class="flex flex-row items-start w-full justify-center">
          <div class="flex-auto pt-6 px-3">
            <div class="font-semibold text-gray-900 break-all overflow-hidden text-ellipsis px-1 sm:px-6">{{$post.Title}}</div>
          </div>
          <div class="flex flex-wrap gap-x-1 space-y-1 justify-center items-start pt-6 px-3">
            {{range $post.Categories}}
            <dt class="sr-only">Category</dt>
            <a href="/home?category={{.}}">
              <dd class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset">{{.}}</dd>
            </a>
            {{end}}
            {{if .User}}
              {{if eq .User.ID $post.Author.ID}}
              <button data-action="delete-post" data-post-id="{{$post.ID}}" class="z-10 px-2 py-1 shadow-lg ring-1 ring-red-600 bg-red-50 ring-inset text-xs rounded-md hover:bg-red-600 transition">
                Delete
              </button>
              {{end}}
            {{end}}
          </div>
        </div>
        <div class="mt-6 flex items-center w-full flexgap-x-4 border-t border-gray-900/5 px-6 pt-6">
          <dt class="flex justify-center items-center">
            <span class="sr-only">Author</span>
            <span class="inline-block size-6 overflow-hidden rounded-full bg-gray-100">
              <svg class="size-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </span>
          </dt>
          <a href="/wip">
            <dd class="px-2 font-medium text-gray-900">{{$post.Author.Username}}</dd>
          </a>
        </div>
        <div class="flex items-center w-full flex-none gap-x-4 px-6">
          <dd class="text-xs pl-8 items-center text-gray-500">
            <time datetime="2023-01-31">{{$post.Time}}</time>
          </dd>
        </div>
        <div class="mt-2 flex w-full flex-none gap-x-4 px-6">
          <dd class="text-sm pl-8 break-all overflow-hidden text-ellipsis">{{$post.Content}}</dd>
        </div>
      </dl>
      <div class="mt-6 border-t border-gray-900/5 px-6 py-6">
        {{if not .User}}
        <a href="/login">
        <form>
          <input type="hidden" id="redirect-link" value="{{.Redirect}}">
        </form>
        {{end}}
        <span class="isolate inline-flex rounded-md shadow-xs">
            <button {{if .User}} id="upvote-post-{{$post.ID}}" data-vote-state="{{$post.UserVote}}" {{end}} type="button" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset focus:z-10" >
              <span class="sr-only">Upvote</span>
              <svg class="size-5 transform rotate-90" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
              </svg>
              <span class="vote-count text-xs px-1 font-semibold text-gray-500">{{$post.Upvotes}}</span>
            </button>
            <button type="button" {{if .User}} id="downvote-post-{{$post.ID}}" data-vote-state="{{$post.UserVote}}" {{end}} class="relative -ml-px inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset focus:z-10">
              <span class="sr-only">Downvote</span>
              <svg class="size-5 transform rotate-90" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
              <span class="vote-count text-xs px-1 font-semibold text-gray-500">{{$post.Downvotes}}</span>
            </button>
          </span>    
        {{if not .User}}
        </a>
        {{end}}              
      </div>
    </div>
  </div>
  <div class="items-center w-full justify-center flex">
    <div class="w-4/5">
      <p class="mt-5 mb-2 font-medium text-gray-800">Comments</p>
      {{if .User}}
      <label for="comment" class="block text-sm/6 font-medium text-gray-900"></label>
      <div>
        <form method="post" id="comment-form" action="/view">
          <input type="hidden" name="post_id" value="{{$post.ID}}">
          <input id="csrf" type="hidden" name="csrf" value="{{index .Session.Data "csrf" }}">
          <input type="hidden" name="author_id" value="{{.User.ID}}">
          <input type="hidden" name="redirect" value="/view?id={{$post.ID}}">
          <textarea rows="2" name="comment" id="comment" required placeholder="Add your comment..." class="block w-full resize-none rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
          <div class="flex mt-2 justify-end">
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Post</button>
          </div>
        </form>
      </div>
      {{end}}
    </div>
  </div>
  {{range $index, $comment := $post.Comments}}
  <div class="items-center w-full justify-center flex">
    <div class="w-4/5">
      <div class="mt-5 flex items-center w-full flexgap-x-4 border-t border-gray-900/5 px-6 pt-6">
        <dt class="flex justify-center items-center">
          <span class="sr-only">Author</span>
          <span class="inline-block size-6 overflow-hidden rounded-full bg-gray-100">
            <svg class="size-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </span>
        </dt>
        <a href="/wip">
          <dd class="px-2 font-medium text-gray-900">{{$comment.Author.Username}}</dd>
        </a>
      </div>
      <div class="flex items-center w-full flex-none gap-x-4 px-6">
        <dd class="text-xs pl-8 items-center text-gray-500">
          <time datetime="2023-01-31">{{$comment.Time}}</time>
        </dd>
      </div>
      <div class="mt-2 flex w-full flex-none gap-x-4 px-6">
        <dd class="text-sm pl-8 break-all overflow-hidden text-ellipsis">{{$comment.Content}}</dd>
      </div>
      <div class="px-6 py-2">
        {{if not $.User}}
        <a href="/login">
        <form>
          <input type="hidden" id="redirect-link" value="{{$.Redirect}}">
        </form>
        {{end}}
        <div class="px-2">
          <span class="isolate px-6 inline-flex rounded-md">
            <button {{if $.User}} id="upvote-comment-{{$comment.ID}}" data-vote-state="{{$comment.UserVote}}" {{end}} type="button" class="relative inline-flex items-center rounded-l-md px-1 py-1 text-gray-400 ring-1 ring-gray-300 ring-inset focus:z-10" >
              <span class="sr-only">Upvote</span>
              <svg class="size-4 transform rotate-90" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
              </svg>
              <span class="vote-count text-xs px-1 font-semibold text-gray-500">{{$comment.Upvotes}}</span>
            </button>
            <button type="button" {{if $.User}} id="downvote-comment-{{$comment.ID}}" data-vote-state="{{$comment.UserVote}}" {{end}} class="relative -ml-px inline-flex items-center rounded-r-md px-1 py-1 text-gray-400 ring-1 ring-gray-300 ring-inset focus:z-10">
              <span class="sr-only">Downvote</span>
              <svg class="size-4 transform rotate-90" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
              <span class="vote-count text-xs px-1 font-semibold text-gray-500">{{$comment.Downvotes}}</span>
            </button>
          </span> 
        </div>  
        {{if not $.User}}
        </a>
        {{end}}               
      </div>
    </div>
  </div>
  {{end}}
</dl>
<script src="/assets/app/view.js"></script>
{{end}}