{{define "home"}}
<form id="home">
    <input type="hidden" id="csrf" value="{{index .Session.Data "csrf" }}">
</form>
<div class="relative flex py-6 justify-center sm:py-6 mx-auto px-6 sm:px-6 lg:px-8">
    <!-- Sidebar Toggle Button (Visible on Mobile) -->
    <div class="lg:hidden">
        <button id="sidebar-toggle" type="button" class="fixed -mx-3 pt-[6rem] inline-flex items-center pr-2 justify-center rounded-md py-2.5 text-gray-700">
            <span class="sr-only">Open sidebar</span>
            <svg class="size-6" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
  
  <!-- Left Sidebar -->
  <div id="sidebar" class="hidden lg:block lg:fixed rounded-lg shadow-lg lg:w-1/5 bg-gradient-to-b from-gray-100 via-gray-200 to-gray-300 ring-1 ring-inset ring-gray-300 ml-2 lg:ml-6 p-4 mt-6 fixed top-[5rem] transform -translate-x-full transition-transform lg:translate-x-0 left-0 h-auto z-10">
    <div class="flex flex-row justify-between">
      <button id="cat-button" class="px-6 py-2 text-2xl font-semibold text-gray-900 flex items-center justify-between">
      Categories</button>
      <button id="category-toggle" type="button" class="ml-2 pr-4 inline-flex items-center justify-center rounded-md py-1.5 text-gray-700">
        <span class="sr-only">Toggle categories</span>
        <svg id="category-arrow" class="size-5 transform rotate-0 transition-transform" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 0 1 1.06.02L10 10.94l3.72-3.72a.75.75 0 0 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.23 8.27a.75.75 0 0 1 .02-1.06Z" clip-rule="evenodd" />
        </svg>
      </button>
    
    </div>
    <div id="category-container" class="overflow-hidden">
      <ul id="filter-list" class="z-10 mt-1 w-full rounded-md py-1 ml-6 text-base sm:text-sm" role="listbox">
          {{range $index, $category := index .Data "categories"}}
              <li id="item-{{$index}}" class="relative cursor-default py-2 pr-4 pl-8 text-gray-900 select-none" role="option" tabindex="-1">
                  <span class="block truncate text-xl">{{$category}}</span>
              </li>
          {{end}}
      </ul>
    </div>
    <div class="flex flex-col">
      <div>
        {{if not .User}}
           <input type="hidden" value="login" id="login">
        {{else}}
           <input type="hidden" value="null" id="login">
        {{end}}
        <button id="liked-button" class="px-6 py-2 text-2xl font-semibold text-gray-900">Liked</button>
      </div>
      <div>
        <button id="created-button" class="px-6 py-2 text-2xl font-semibold text-gray-900">Created</button>
      </div>
    </div>
    
  <!-- Reset Filter Button -->
    <div class="absolute bottom-4 pr-2 right-4 py-2">
      <button id="reset-filter" class="hidden z-10 px-2 py-2 shadow-lg bg-gradient-to-r from-red-300 via-red-400 to-red-500 text-xs sm:text-sm rounded-md hover:bg-red-600 transition">
        Reset Filter
      </button>
    </div>
  </div>
    <div class="flex z-1 flex-col px-3 lg:flex-row mt-10 py-6 lg:gap-8 max-w-4xl h-auto w-full">
      <div class="items-center mx-auto w-full">
        <h2 class="text-2xl justify-center mt-6 py-2 flex font-semibold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-blue-500 hover:from-pink-500 via-pink-500 hover:via-red-400 to-red-500 hover:to-purple-500 transition transition-all transition-colors duration-500 sm:text-5xl">
          Insights from the Pros
        </h2>
        <p class="mt-2 py-2 text-xs lg:text-xl flex justify-center text-gray-600">
          Master your craft with tips from the best in the game.
        </p>
        {{if index .Data "posts"}}
          {{template "posts" .}}
        {{else}}
          <div class="flex mt-6 py-6 justify-center">
            <p class="text-gray-900 text-2xl">No posts available.</p>
          </div>
        {{end}}
      </div>
    </div>
  </div>
  {{if eq (index .Data "totalPosts") 1}}
      <div class="min-h-[320px]"></div>
  {{end}}
  {{if eq (index .Data "totalPosts") 2}}
      <div class="min-h-[50px]"></div>
  {{end}}
  {{if index .Data "posts"}}
  <footer class="bg-white w-full">
    <nav class="relative flex mx-auto items-center max-w-4xl justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
      <div class="block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{index .Data "fromPosts"}}</span>
          to
          <span class="font-medium">{{index .Data "toPosts"}}</span>
          of
          <span class="font-medium">{{index .Data "totalPosts"}}</span>
          results
        </p>
      </div>
      {{if ne (index .Data "toPosts") (index .Data "totalPosts")}}
        <div class="flex flex-1 justify-end">
          {{if ne (index .Data "fromPosts") 1}}
            <button id="pagePrev" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Previous</button>
          {{end}}
          <button id="pageNext" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Next</button>
        </div>
      {{else}}
        {{if ne (index .Data "fromPosts") 1}}
          <button id="pagePrev" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:outline-offset-0">Previous</button>
        {{end}}
      {{end}}
    </nav>
  </footer>
  {{end}}
<script src="/assets/app/home.js"></script>
{{end}}
