<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - internal server error</title>
    <link rel="stylesheet" href="/frontend/css/500.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/frontend/images/errorapple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontend/images/errorfavicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontend/images/erroravicon-16x16.png">
    <link rel="manifest" href="/frontend/images/errorsite.webmanifest">
</head>
<body>
    <!-- Container for all content -->
    <div class="container">
        <div class="error-text">500 - Internal Server Error</div>
        <div class="message">♪♫♪ Oops! The server just hit a wrong note.</div>
        <div class="description">
            Give us a moment to fix the melody. ♪♫♪
        </div>
    </div>

      <!-- Back Button -->
      <a href="/" class="ok">Go Back</a>
      
</body>
</html>
