<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 ERROR</title>
    <link rel="stylesheet" href="./static/styleserror.css">
</head>
<body>
    <header>
        <img src="./static/assets/header.png" alt="Groupie Tracker" />
    </header>
    <div>
        ERROR 404!<br> 
        Page not found!
    </div>
    
        <a href="/">
            <button>Go back to home</button>
        </a>
    
    <footer>
        <p>Groupie Tracker - All Rights Reserved &copy; 2024</p>
    </footer>
</body>
</html>