/* Global Styles */
body {
    background-image: url("/frontend/images/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #e0e0e0;
    text-align: center;
    backdrop-filter: blur(3px);
}

.container {
    background: linear-gradient(135deg, #1b263b, #2a3439);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #36454F;
    width: 70%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e0e0e0;
    border: 2px solid #4682B4;
}

.error-text {
    font-size: 48px;
    color: #e63946;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.message {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 600;
    color: #4682B4;
}

.description {
    font-size: 18px;
    margin-top: 10px;
    max-width: 500px;
    line-height: 1.6;
    color: #a8dadc;
}

.ok {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 40px;
    padding: 12px 24px;
    color: #1b263b;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #4682B4;
    border: 1px solid #2a3439;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

.ok:hover {
    background: #2a3439;
    color: #ffffff;
    transform: translateY(-2px);
    border-color: #4682B4;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');