<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Homepage</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container"></div>
    <section class="hero">
      <div class="hero-bg"></div>

      <div class="hero-content">
        <img
          src="/static/assets/1.png"
          alt="Forum UI Preview"
          class="foreground-img"
        />
        <div class="signup-box">
          <p class="subtext">BECOME PART OF OUR VIBRANT FORUM</p>
          <h1>Welcome to the Forum</h1>
          <p class="desc">
            Join us to share your ideas and connect with like-minded
            individuals. It’s simple and free!
          </p>

          <div class="button-group">
            <a href="/register" class="btn primary">Sign up</a>
            <a href="/login" class="btn secondary">Login</a>
            <a href="/guest/feed" class="btn ghost">Continue as Guest</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
