<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - internal server error</title>
    <link rel="stylesheet" href="/frontend/css/500.css">
</head>
<body>

    <div class="error-text">500</div>
    <div class="message">♪♫♪ Oops! The server just hit a wrong note.</div>
    <div class="description">
        Give us a moment to fix the melody. ♪♫♪
    </div>

      <!-- Back Button -->
      <a href="/" class="ok">Go Back</a>
      
    <div class ="container"> 
    <div class="error500"></div>
</div>
</body>
</html>
