{{define "overlay"}}
    {{ if .Artists }}
        <div class="container" id="artists">
            {{range .Artists}}
                <audio id="audio-{{.ID}}" prload="auto" loop>
                    <source src="style/media/tracks/{{.ID}}.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div class="artist-cards" 
                onmouseenter="playTrack('{{.ID}}')"
                onmouseleave="stopTrack('{{.ID}}')">  
                    <div class="card" data-artist-id="{{.ID}}">
                        <h2>{{.Name}}</h2>
                        <img src="{{.Image}}" alt="{{.Name}}">
                    </div>
                </div>

                <div class="overlay" id="artist-{{.ID}}">
                <div class="overlay-content">
                    <a class="close-button">&times;</a>
                    <h2>{{.Name}}</h2>
                    <div class="img-container">
                        <img src="{{.Image}}" alt="{{.Name}}" class="artist-image">
                        <button class="pause-btn" onclick="togglePlayPause('{{.ID}}')">
                            <span id="pause-icon-{{.ID}}">&#10074;&#10074;</span>
                            <span id="play-icon-{{.ID}}" style="display: none;">&#9658;</span>
                        </button>
                    </div>
                    <p id="headers">Members:</p>
                    <ul>
                        {{range .Members}}
                            <a class="link" href="https://en.wikipedia.org/wiki/{{.}}"><p class="link">{{.}}</p></a>
                        {{end}}
                    </ul>
                    <p id="headers">Creation Date:</p>
                    <p class="details">{{.CreationDate}}</p>
                    <p id="headers">First Album:</p>
                    <p class="details">{{.FirstAlbum}}</p>
                    <form action="/details" method="GET">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button class="details-btn">View More <i class="fas fa-external-link-alt"></i></button>
                    </form>
                </div>
                </div>
            {{end}}
        </div>
    {{ else }}
        <div id="no-results" class="containerror">
            <h1 class="status">Not Found</h1>
            <div class="txt">Not the page but the artist you are looking for</div>
            <p>No artists found matching your search.</p>
            <p>Try checking your spelling or using different keywords.</p>
            <button class="home">
                <a href="/homepage">
                    <img id="home-icon" src="style/media/icons/home.png"/>
                </a>
            </button>
        </div>
    {{end}}
{{end}}