<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredoka+One&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <title>4005 Method Not Allowed</title>
    <link rel="stylesheet" href="/style/styleHome.css">
    <script src="/style/script.js"></script>
</head> 
<body>
    <div class="wrapper">
        {{ template "header" . }}
        <div class="containerror">
            <h1 class="status">405</h1>
            <div class="txt">Method Not Allowed</div>
            <button class="home">
                <a href="/homepage">
                    <img id="home-icon" src="style/media/icons/home.png"/>
                </a>
            </button>
            <p>Sorry, but the method you are trying to use is not Allowed.</p>
        </div>
        {{ template "footer" . }}
    </div>
</body>
</html>