* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(135deg, #250124, #9e1771, #681212);
  color: rgb(0, 0, 0);
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Make the title link look clean */
.title-link {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.title-link:hover {
  transform: scale(1.05);
  color: #000000;
  text-decoration: none;
}

/* Search bar */

body, button, input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 70%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  padding: 8px;
  box-shadow: 0 0 0 0.4em #8e0096 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #8e0096;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0% 50%;
}

.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #ffffff inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 100%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #58326b;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #967e99;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

/* Search bar end */

.link {
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: #cccccc;
  font-weight: 700;
  font-size: 1.5em;
}

.link:hover {
  text-decoration: underline;
  color: #852e6b
}

.overlay.show {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 74%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: linear-gradient(135deg, #000000, #212121, #000000);
  padding: 20px;
  display: table-column;
  border-radius: 10px;
  position: relative;
  max-width: -webkit-fill-available;
  width: 400px; 
  text-align: center;
  box-shadow: 0px 4px 10px rgb(101 97 97);
  line-height: 1.5;
  overflow: auto; /* Enables scrolling if the content is too large */
  scrollbar-width: thin;
  scrollbar-color: #770073 #212121;
}

/* Position the pause button over the image */
.image-container {
  position: relative;
  display: inline-block;
}

.overlay-content img {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgb(132 132 132);
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Style the pause button */
.pause-btn {
  position: absolute;
  top: 88px;
  left: 25%;
  background-color:  rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}

.pause-btn.big-name {
  top: 136px;
}

.pause-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-content h2 {
  margin-top: 0;
  font-weight: 700; 
  font-size: 2.0em;
  color: #757700
}

.overlay-content #headers {
  margin: 10px 0;
  font-weight: 700; 
  font-size: 1.2em;
  color: #757700
}

.details{
  margin: 10px 0;
  font-family: 'Amatic SC', cursive;
  font-weight: 700; 
  font-size: 1.5em;
  color: #cccccc
}

.overlay-content a {
  font-family: 'Fredoka One', cursive;
  font-weight: 700; 
  font-size: 1.2em;
}

.close-button {
  position: absolute;
  color: #939393;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #cacad3;
  transform: scale(1.1);
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* The artist cards in home template */
.artist-cards {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #ff6d6d, #57626b, #001e4d);
  padding: 20px;
  border: 1px solid #280000;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background 0.3s ease;
}

.artist-cards img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.5s ease-out;
}

.artist-cards:hover img{
  animation: spin 2s linear infinite;
}

.artist-cards:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ff6d6d88, #57626b7e, #001e4d85);
}

.artist-cards h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.artist-cards p {
  font-size: 1rem;
  color: #ddd;
}

/* The artist card in details template */
.artist-card {
  margin-top: 20px;
  background: linear-gradient(135deg, #9C27B0, #F44336, #FFEB3B);
  padding: 20px;
  border: 2px solid #230000;
  border-radius: 20px;
  height: auto;
  width: 60%;
  left: 20%;
  transition: transform 0.3s ease, background 0.3s ease;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: #333;
}

.artist-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.artist-dates {
  display: flex;
  flex-direction: column;
}

.artist-card h1 {
  color: #000000;
  margin-bottom: 3%;
}

.artist-card img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.artist-card:hover {
  transform: scale(1.03);
  /* background-position: 100% 0; */
  background: linear-gradient(135deg, #F44336, #57626b,  #E91E63);
}

.artist-card #headers {
  color: #000000;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 700; 
}

/* Dropdowns */

.artist-buttons {
  display: flex;
  flex-direction: column;
}

.dropdowns {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10%;
}

/* Transition for smooth opening */
.dropdown[open] .dropdown-content {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown {
  margin: 20px;
  display: block;
}

.dropdown-btn {
  background: #000000;
  color: #770073;
  padding: 12px 24px;
  font-family: 'Fredoka One', cursive;
  font-weight: 700;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.dropdown-btn:hover {
  transform: scale(1.05);
  background: #E91E63;
  color: #000000;
}

.nested-dropdown-btn {
  color: #000000;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.nested-dropdown-btn:hover {
  transform: scale(1.05);
  color: #ffffff;
}

.dropdown-content {
  padding: 20px;
  min-width: 330px;
  background: linear-gradient(135deg, #673AB7, #E91E63, #FF5722);
  color: #000000;
  font-weight: 700; 
  font-size: 1.5em;
  border: 2px solid #000000;
  border-radius: 8px;
  margin-top: 8px;
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.4);
}

.nested-dropdown-content {
  background: linear-gradient(135deg, #673AB7, #E91E63, #FF5722);
  width: 50%;
  left: 25%;
  margin-top: 10px;
  position: relative;
  color: #000000;
  font-size: 0.8em;
  border: 2px solid #000000;
  border-radius: 8px;
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.4);
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-content a {
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
  color: #ffffff;
}

.dropdown-content p {
  margin: 0 0 12px;
  line-height: 1.5;
}

.details-btn {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  text-shadow: 0px 0px 6px rgb(200, 200, 200);
  font-family: 'Fredoka One', cursive;
  font-weight: 700;
  font-size: 1.2em;
  transition: transform 0.3s ease, background 0.3s ease;
}

.details-btn:hover {
  transform: scale(1.05);
  text-shadow: 2px 2px 6px rgb(0, 0, 0);
  font-family: 'Fredoka One', cursive;
  color: #5c3751;
}

@media (max-height: 900px) { 
 .overlay-content {
    overflow: auto;
    max-height: 80vh;
  }

}


@keyframes spin {
  0% {
      transform: rotate(0deg) scale(1);
  }
  50% {
      transform: rotate(180deg) scale(0.9);
  }
  100% {
      transform: rotate(360deg) scale(1);
  }
}

/* Header Styling */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  padding: 15px 20px;
  border-bottom: 6px solid #000000;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: transform 0.3s ease;
}

.main-header.hidden {
  transform: translateY(-150%);
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.header-center {
  flex: 1;
  text-align: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-header {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  color: #000000;
  background: rgba(100, 100, 100, 0.7);
  border: none;
  border-radius: 70%;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 1.2rem;
  line-height: 1;
  z-index: 200;
  transition: transform 0.3s ease;
}
.close-header:hover {
  transform: scale(1.1);
}

.title {
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ac96c9;
  font-family: 'Fredoka One', cursive;
}



fieldset {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  color: #ffffff; 
}

/* sound icon */

#sound-icon {
  width: 30px; 
  height: auto; 
}

#volume-slider {
  position: absolute;
}

.sound-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.sound-btn:hover {
  transform: scale(1.2);
}

/* sound slider */

.slider-container {
  position: relative;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Slider Input */
.slider-container .slider {
  -webkit-appearance: none;
  width: 150px;
  height: 8px;
  background: #770073;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
  cursor: pointer;
}

.slider-container .slider:hover {
  background: #1eb300;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #770073;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.slider-container .slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #1eb300;
}

.slider-container .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #770073;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.slider-container .slider::-moz-range-thumb:hover {
  transform: scale(1.2);
  background: #1eb300;
}

/* Volume Value */
.slider-container #volume-value {
  position: absolute;
  top: -35px;
  transform: translateX(-50%);
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  background: linear-gradient(135deg, #34004e, #770073, #910037);
  padding: 1px 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Filters */

/* Hides the arrows for most modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hides the arrows for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.filter{
  display: none;
  justify-content: center;
  margin: 20px;
  background-color:  #222222;
  color: #EBEBEB;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.filter.show {
  display: flex;
}


/* Filter Button */
#filter-icon {
  width: 30px; 
  height: auto; 
}

.filter-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.filter-btn:hover {
  transform: scale(1.2);
}

.filter-input{
  width: 100px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid #EBEBEB;
  padding: 5px;
  margin-right: 10px;
  background: #222222;
  color: #EBEBEB;
  font-family: 'Fredoka One', cursive;
}

input:focus {
  border-color: #852e6b; 
  outline: none;
  color: #852e6b;
}

.filter-loc{
  width: 300px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid #EBEBEB;
  padding: 5px;
  margin-right: 10px;
  background: #222222;
  color: #EBEBEB;
  font-family: 'Fredoka One', cursive;
}

/* submit button */
.button-submit-filter {
  border-radius: 25px;
  background-color: #FFFFFF;
  border-width: 0;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  padding: 0.8em 2.2em;
  position: relative;
  height: 40px;
  width: 150px;
  line-height: 1;
}

.button-submit-filter:before {
  border-radius: 25px;
  background-color: #852e6b;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "Apply";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  text-align: center;
  line-height: 40px;
  color: #FFFFFF;
}

.button-submit-filter:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

/* Error pages */

.containerror {
  text-align: center;
  margin-top: 10%;
}

h1.status {
  font-size: 6rem;
  margin-bottom: 40px;
}

.txt {
  font-size: 2rem;
  margin-bottom: 20px;
}

#home-icon {
  width: 30px;
  height: auto;
}

.home {
  display: inline-block;
  margin-top: 20px;
  padding: 4px 8px;
  background-color: #977517;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.home:hover {
  background-color: #ffbf0f;
  transform: scale(1.2);
}

/* Icons */

.github, .linkedin {
  width: 40px; 
  height: auto; 
}

.zone01 {
  width: 70px;
  height: auto; 
}

.zone01-link {
  height: 40px;
  background: #920066;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.zone01-link:hover {
  transform: scale(1.2);
}

/* Footer */

.footer-link {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.footer-link:hover {
  transform: scale(1.2);
}

.main-footer {
  justify-content: center;
  align-items: center;
  background-color: #111111;
  padding: 15px 20px;
  border-top: 6px solid #000000;
  position: relative;
  top: 70px;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  z-index: 100;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 30%;
}

.footer-right {
  display: flex;
  gap: 10px;
  text-align: right;
  margin-right: 28%;
}

.footer-bot {
  margin-top: 20px;
}

.footer-text {
  color: #ac96c9;
  font-family: 'Fredoka One', cursive;
}

.footer-text a {
  color: #ab197d;
  text-decoration: none;
}

.DEV {
  width : 250px;
  height : auto;
}

.about {
  font-size: 1.5rem;
  position: relative;
  margin-top: 10%;
}

/* suggestions */
#suggestions {
  position: absolute;
  width: 315px;
  top: 75%;
  color: #9d9d9d;
  background: #111111;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 5px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestion-item:hover {
  color: #000000;
  background: #f8f9fa;
}

.entity-type {
  float: right;
  color: #6c757d;
  font-size: 0.9em;
}

.match-highlight {
  background-color: #fff3d6;
  font-weight: bold;
  color: #e67e22;
  padding: 2px 4px;
  border-radius: 3px;
}

#map {
  height: 500px;
  width: 60%;
  left: 20%;
  border-radius: 40px;
  border: 2px solid #230000;
  display: none;
}

.map-btn {
  margin-bottom: 10px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.map-btn:hover {
  transform: scale(1.1);
}

.map-icon {
  width: 50px;
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .header-left,
  .header-center,
  .header-right {
    flex: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin: 5px 0;
    align-items: center;
  }
  
  .header-right {
    justify-content: center;
  }

  .footer-left {
    margin-left: 10%;
  }
  .footer-right {
    margin-right: 10%;
  }

  .slider-container .slider {
    width: 100px;
    height: 8px;
  }

  .overlay-content {
    max-height: 80vh;
  }

  .artist-card {
    width: 80%;
    left: 10%;
  }

  .dropdowns{
    flex-direction: column;
  }

  h1.status {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .dropdown-content{
    min-width: 220px;
  }
  .nested-dropdown-content{
    width: 120px;
    left: 10%;
  }
  .artist-image{
    max-width: 200px;
  }
}
