<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Error</title>
  <link rel="stylesheet" href="/static/css/guest.css" />
  <link rel="stylesheet" href="/static/css/error.css" />
  <script src="/static/js/error.js" type="module"></script>
</head>
<body>
  <div class="form">
    <h2 id="error-code">Error</h2>
    <p id="error-message">An unexpected error occurred.</p>
    <button id="back-button" class="back-button">Go Back</button>
  </div>
</body>
</html>
