<!DOCTYPE html>
<html>
    <head>
        <title>Groupie Tracka</title>
        <link rel="stylesheet" href="templates/styles.css">
    </head>
        
    <body class="body">
        <div class="error-body">
            <p class="error-message">{{.Message}}</p>
            <button class="map-button" style="margin-top: 5%;" onclick="history.back()"> Go back </button>
        </div>
        <div style="display:block"> </div>
        <div style="display:block"> </div>
        <div style="display:block"> </div>
        
    </body>
</html>