{{define "posts_view"}}
{{template "header" .}}
{{template "topbar" .}}
<div class="container">
    {{if .Error.Has}}
        {{template "error" .}}
    {{end}}
    <div class="posts">
        <h2>Posts</h2>
        {{ range .Posts}}
        <div id="{{.Id}}" class="post">
            <a href="/post/view/{{.Id}}"><h3>{{.Title}}</h3></a>
            <em>{{.TimestampString}}</em>
            <pre>{{.Body}}</pre>
            {{if .ImagePath}}
                <img src="/{{.ImagePath}}" alt="Post image" style="max-width: max-content;"/>
            {{end}}
            <div class="reactions">
                <form method="POST" action="/post/react">
                    <input type="hidden" name="post-id" value="{{.Id}}"/>
                    <button type="submit"
                            name="action"
                            value="like"
                            {{if not $.User.LoggedIn }}disabled{{end}}
                            >{{.Likes}} {{if .Liked}}👍{{else}}👍🏻{{end}}</button>
                </form>
                <form method="POST" action="/post/react">
                    <input type="hidden" name="post-id" value="{{.Id}}"/>
                    <button type="submit"
                            name="action"
                            value="dislike"
                            {{if not $.User.LoggedIn }}disabled{{end}}
                            >{{.Dislikes}} {{if .Disliked}}👎{{else}}👎🏻{{end}}</button>

                </form>
            </div>
            {{if $.User.LoggedIn}}
                {{ template "comment_create" .}}
            {{end}}
        </div>
        {{end}}
    </div>
</div>
{{template "ending" .}}
{{end}}
