<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/frontend/css/about.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/frontend/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontend/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontend/images/avicon-16x16.png">
    <link rel="manifest" href="/frontend/images/site.webmanifest">
</head>
<body>

    <h1 class="glow">Meet the team</h1>

    <div class="about-card">
        <p>
            <br>Created with 
            <br>❤️ 
            <br>by <b>Ttarara</b>, <b>Sbusho</b>, and <b>Sntentop</b>!
            <br>
            <br>
            <br>Enjoy!

        
        </p>
    </div>

    <!-- Back Button -->
    <div class="button-container">
        <a href="/" class="btn">Home</a>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; <span id="year"></span> 🎶 Groupie Tracker - Stay Inspired 🎶</p>
    </footer>

 

</body>
</html>
