{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>
  </head>
  <body>
    {% include 'main/navbar.html' %}
    <!-- places the content of navbar.html here -->
    
    <!-- Django Messages -->
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close-message" onclick="this.parentElement.remove()">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class='content'>
      {% block content %} replace me {% endblock %}
    </div>
    <footer style="text-align:center; color:#888; margin: 40px 0 10px 0; font-size: 1rem;">
      © {{ now|date:'Y' }} Netfix. All rights reserved.
    </footer>
  </body>
</html>
